<div class="container my-5">
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="card-title mb-4">{{announcement.title}}</h1>
        <div class="announcement-img-container">
          <img [src]="announcement.photoPath" alt="Announcement image" class="announcement-img">
        </div>
        <p class="card-text lead">{{announcement.description}}</p>
        <div class="text-muted mb-4">
          <small><strong>Date:</strong> {{announcement.date | date:'mediumDate'}}</small>
        </div>
      </div>
    </div>
    <h2 class="mt-5 mb-4">Similar Announcements</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" [routerLink]="'/announcement-detail/' + similarAnnouncement.id" *ngFor="let similarAnnouncement of similarAnnouncements">
        <div class="card h-100 shadow-sm">
          <div class="similar-announcement-img-container">
            <img [src]="similarAnnouncement.photoPath" class="similar-announcement-img" alt="Similar announcement image">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{similarAnnouncement.title}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>